<!DOCTYPE html>
<html>
    <head>
        <title>Express - Basic Auth</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
<div>
        <h1>Express - Basic Auth</h1>
        User: <%= loggedUser.username %>
        <h2>New Product</h2>
        <form action="/prod/new" method="POST">
            Name: <input type="text" name="name"/><br/>
            Price: <input type="number" name="price"/><br/>
            description: <input type="text" name="description"/><br>
            category: <input type="text" name="category"/><br>
            <input type="submit" value="Save"/>
        </form> 

        </div>

        <button><a href="http://localhost:3000/home">home</a></button>
    </body>
</html>