<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATEGORIAS</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div>
        <h1>Cadastro de categoria</h1>
        <form action="/categoria-salvar" method="POST">
            <label for="chave">chave:</label>
            <input type="text" id="chave" name="chave" />
            <label for="valor">valor:</label>
            <input type="text" id="valor" name="valor" />
            <button type="submit">Cadastrar</button>
        </form>

    </div>

    <div>
        <h2>Categorias</h2>
        <table>
            <tr>
                <td>Chave</td>
                <td>Valor</td>
            </tr>
            <% for (let i=0; i < categorias.length; i++) { %>
                <tr>
                    <td>
                        <%= categorias[i].chave %>
                    </td>
                    <td>
                        <%= categorias[i].valor %>
                    </td>
                    <td>
                        <a href="/categoria-deletar?chave=<%= categorias[i].chave %>"><img src="/img/lixeira-deletar.png" alt="" width="20px"></a>
                    </td>
                </tr>
                <% } %>

        </table>
    </div>

    <a href="http://localhost:3000/"><button class="btn-retorno">Ínicio</button></a>
</body>

</html>