body {
    text-align: center;
    background-color: #bbb6bb;
    font-family: initial;
    letter-spacing: 1px;
    margin: auto;
}

div {
    background-color: #97e1fe;
    margin: 40px 34% 30px 34%;
    padding: 10px 10px;
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.5s;
    
}

table {
    background-color: #97e1fe;
    margin: 10px auto 20px;
    font-size: 18px;
    text-align: justify;
}

table a:link,
a:hover {
    color: #1d3841;
    text-decoration: underline;
    cursor: auto;
}

ul a:link,
a:active {
    text-decoration: none;
    cursor: pointer;
}

td {
    padding: 5px;
    border: 1px solid black;
}
form input, select, button{
    border: 0.1px solid black;    
    border-radius: 20px;
    padding: 3px;
}
button{
    margin: 20px;
}
form label{
    text-transform: uppercase;
    font-size: 12px;
    font-family: initial;
}
input, select{
   display: block;
   margin-left: 28% ;
   margin-bottom: 10px;
}

.busca h1, .card{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.lista{
    text-align: justify;
    margin: 15px 37%;
    
}
.lista p{
    margin: 2px;
}
.lista ul li {
    list-style: none;
    padding: 0;
    padding-inline-start: 0;
}