.header-topo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #f1f1f1;
  z-index: 999;
}

.header-nav {
  text-align: right;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav li {
  display: inline;
  margin-right: 10px;
}

.header-nav li:last-child {
  margin-right: 0;
}
.grid-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas com largura igual */
  grid-gap: 10px; /* Define o espaçamento entre os itens */
}

.grid-item {
  background-color: #f1f1f1;
  padding: 20px;
}

.grid-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.grid-item a:hover {
  background-color: #2980b9;
}


/* Estilizando os links como botões */
.header-nav a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db; /* Cor azul moderna */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.header-nav a:hover {
  background-color: #2980b9; /* Cor azul mais escura quando o link é hover */
}
