<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de Carros</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/user/signup" method="post">
        Email: <input type="email" name="email"  required />
        <p>Senha com uma letra maiuscula, um numero, uma minuscula e 8 caracteres</p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Save" /><br>
    </form>


</body>
</html>