<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de Carros</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header-topo">
        <div class="header-nav">
            <ul>
                <li><a href="user/signin">Login</a></li>
                <li><a href="user/signup">Cadastro</a></li>
                <li><a href="admin/add-carro">admaddcarro</a></li>
                <li><a href="admin/loja">admloja</a></li>
                <li><a href="admin/signin">admlogin</a></li>
            </ul>
        </div>
    </header>
</body>
</html>