<!DOCTYPE html>
<html>
  <head>
    <title>Express - Basic Auth</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body> <div>
    <h1>Express - Basic Auth</h1>
    <h2>User Home</h2>
    <h3>User: <%= username %></h3>
    <br/>
  
    <a href="/prod/new">Add Product</a><br/> 
    <a href="/prod/list">List Products</a> <br>
    <a href="/category/new">Add category</a> <br>
    <a href="/category/list">List Category</a>
    <a href="/prod/myProd">Meus Produtos</a>

    

   </div> 
  </body>
</html>
