<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATEGORIAS</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="script/script.js"></script>
</head>

<body>

    <div>
        <h1>Cadastro de categoria</h1>
        <form action="/categoria-salvar" method="POST">
            <label for="chave">Chave:</label>
            <input type="text" name="chave" id="chave">

            <label for="valor">Valor:</label>
            <input type="text" name="valor" id="valor">
  
            <button type="submit">Salvar</button>
        </form>


    </div>

    <div>
        <h2>Categorias</h2>
        <table>
            <thead>
              <tr>
                <th>Chave</th>
                <th>Valor</th>
                <th>Campos customizados</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < categorias.length; i++) { %>
                <tr>
                  <td><%= categorias[i].chave %></td>
                  <td><%= categorias[i].valor %></td>
                  <td>
                    <a href="/categoria-deletar?chave=<%= categorias[i].chave %>"
                       onclick="return confirm('Tem certeza que deseja excluir esta categoria?')">
                      Excluir
                    </a>
                  </td>
                    
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>

    </div>

    <a href="http://localhost:3000/"><button class="btn-retorno">Ínicio</button></a>
</body>

</html>